body {  
    min-height: 100vh;
    display: flex;
    flex-direction: column;}

.header {
    display: flex;
    flex-direction: row;
    flex: 1;
}

.header-links {
    display: flex;
    justify-content: flex-end;
    gap: 8px;
    margin-left: auto;
}


