body {  
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    max-width: 990px;
    margin: auto;
    font-style: roboto;
    background-color: black;}

ul {list-style: none;
    display: flex;
    gap: 14px;
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
    text-decoration-color: none;
    text-decoration-style: none;
    }

li {
    text-decoration: none;
    text-decoration-style: none;
    text-decoration-color: none;
}

.header {
    display: flex;
    flex-direction: row;
    padding-top: 13px;
}

.header-links {
    display: flex;
    gap: 8px;
    margin-left: auto;

}


.header-logo {
    font-weight:800;
    font-size: 20px;
}

/* Styling for hero content */

.hero-content {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-top: 85px;
    margin-bottom: 85px;
}

.hero-text {
    margin-right: auto;

}

.hero-image {
    margin-left: auto;

  
}

.butter-churn {
    height: 300px;
    width: auto;
}

/* Color Styling for Different Containers */

.container-1 {
    background-color: #1F2937;
    color: #f9faf8;

}

h1.hero-text {
    font-size: 48px;
    font-style: extra-bold;
}